body {
  margin: 0px;
  background-color: #ffd55a;
  font-family: 'Poppins', sans-serif;
}

.center {
  margin: auto;
  width: 70%;
}

.title {
  -webkit-font-size: -webkit-xxx-large;
  font-size: xxx-large;
  margin-top: 70px;
  background-color: #ffd55a;
  color: #a5acb9;
}

.description {
  font-size: x-large;
  background-color: #ffd55a;
  color: #a5acb9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffd55a;
}

.left {
  float: left;
}

.right {
  float: right;
}

li a {
  margin: 10px;
  border-radius: 5px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a .right .left:hover:not(.active) {
  border-radius: 5px;
  margin: 10px;
  background-color: #111;
  color: white;
}

.active {
  margin: 5px;
  border-radius: 5px;
  background-color: #6dd47e;
}

.loader {
  margin: auto;
  border: 16px solid #6dd47e;
  border-radius: 50%;
  border-top: 16px solid #ffd55a;
  border-bottom: 16px solid #ffd55a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button {
  background-color: #6dd47e; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  bottom: 0;
  right: 0;
  position: fixed;
  border-radius: 50px;
}

.dark-mode {
  background-color: black;
}

.dark-mode ul {
  background-color: black;
} 

.dark-mode .description {
  background-color: black;
}

.dark-mode .title {
  background-color: black;
}

.link {
  font-size: x-large;
  background-color: #ffd55a;
  color: #a5acb9;
}

.link:visited {
  font-size: x-large;
  background-color: #ffd55a;
  color: #a5acb9;
}