body {
    margin-top: 100px;
    background-color: #F1F1F1;
    font-family: 'Poppins', sans-serif;
}

.center {
  margin: auto;
  width: 70%;
}

h1 .title {
    background-color: #F1F1F1;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p .description {
    padding-top: 0px;
    margin: 0px;
}